.events-carousel {
  padding: 5rem 0;

  &__img-box {
    position: relative;
  }

  &__img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color-black, .7);
    opacity: 0;
  }
}
