.regional-events {
  background: url(/assets/img/regional-events-bg.jpg);
  height: 243vh;
  width: 100%;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;

  &__heading-container {
    padding-top: 35rem;
  }

  &__carousel-container {
    padding: 2rem 0;
  }
}
